@import url('../fonts/');

// Variables

$primary: #3d96a8;
$primary-dark: #337c8b;
$primary-light: #55a5b6;
$secondary: #e86d25;
$font-color: #e4e7eb;
$font-color-soft: #9ea0a2;
$bg-color: #18222b;
$bg-lgter-color: #074559;
$bg-lg-color: #305375;
$white: #FFF;

$font: 'Raleway', sans-serif;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    background-color: $bg-color;
}

.wrapper {
    padding: 2rem;
}

h1 {
    color: $primary;
    font-family: $font;
    font-weight: 100;
    span {
        font-size: 1.5rem;
    }
}

p,
form {
    color: $font-color;
    font-family: $font;
    font-weight: 100;
}

input[type=submit] {
    background-color: $bg-lgter-color;
    margin: 1.5rem 0;
    padding: 1rem;
    color: $white;
    border-radius: 2rem;
    border: 2px solid $primary-dark;
    cursor: pointer;

    &:hover,
    &:focus {
        border: 2px solid $primary-light;
    }
}

input,
select {
    background-color: $bg-lgter-color;
    color: $font-color;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    padding-left: 0.8rem;
}

.result {
    p {
        &.main-sum {
            border: 1px solid $primary;
            padding: 2rem;
            border-radius: 1.5rem;
            font-size: 1.5rem;
            font-weight: 500;
            color: $font-color;

            span {
                font-size: 0.8rem;
                color: $font-color-soft;
            }
        }

        span {
            color: $font-color-soft;
            font-size: 0.8rem;
        }
    }
}
